%rounded-borders {
  border-radius: 50px;
}

.text-centered {
  text-align: center;
}

.search {
  input {
    margin-top: 1%;
    @extend %rounded-borders;
  }

  button {
    margin-top: 1%;
    @extend %rounded-borders;
  }
  a {
    margin-top: 1%;
    @extend %rounded-borders;
  }
}
.navigation {
  display: inline-flex;
}

#active-navigation {
  @extend %rounded-borders;
}

#navigation {
  text-align: center;
}
