$padding_small: 5px;

%auto-size {
  width: auto;
  height: auto;
}

body {
  background-color: #f2f1f0;
}

header {
  margin-top: 5px;
}

nav {
  @extend %auto-size;
  float: left;
  margin-right: 15px;
}

th {
  td {
    padding: $padding_small;
  }
}

input[type="submit"] {
  border-radius: 30px;
}

.second-row {
  background-color: #fff;
}

.current {
  font-weight: bold;
}

.radio-answer {
  padding: $padding_small;
}

@media only screen and (max-device-width: 1440px) {
  #container {
    max-width: 480px;
    margin: 0 auto 0 auto;
  }
}

@media only screen and (min-device-width: 501px) {
  #container {
    max-width: 1000px;
    margin: 0 auto 0 auto;
  }
}

#content {
  @extend %auto-size;
  overflow: hidden;
}
